aZaaS.KStar.Wcf/Service References/TenantDbService/TenantDatabaseService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.20:8999/TenantDatabaseService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/aZaaS.Workflow.WcfService" />
  <xs:element name="GetConnectionString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenantID" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/aZaaS.Workflow.WcfService" minOccurs="0" name="systemCode" type="q1:SystemCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetConnectionStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>