aZaaS.KStar.Web/Service References/ProcessServiceReference/ProcessService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/aZaaS.KStar.Wcf.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/aZaaS.KStar.Wcf.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProcessSetInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApproveUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Configuration_CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsCommon" type="xs:boolean" />
      <xs:element minOccurs="0" name="NotAssignIfApproved" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderNo" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessSetID" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessSetNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessSetInfo" nillable="true" type="tns:ProcessSetInfo" />
</xs:schema>