aZaaS.KStar.Web/Service References/ProcessServiceReference/ProcessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/aZaaS.KStar.Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/aZaaS.KStar.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProcessLogData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcessLogData" nillable="true" type="tns:ProcessLogData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessLogData" nillable="true" type="tns:ArrayOfProcessLogData" />
  <xs:complexType name="ProcessLogData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActionTaker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActionTakerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActivityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProcInstID" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskOwner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskOwnerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessLogData" nillable="true" type="tns:ProcessLogData" />
</xs:schema>