aZaaS.KStar/Authentication/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="azaas.kstar" elementFormDefault="qualified" targetNamespace="azaas.kstar" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="userAuthProvider" type="tns:aZaaS.KStar.Authentication.UserAuthProviderSectionCT" />
	<xs:complexType name="aZaaS.KStar.Authentication.UserAuthProviderSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="authProviders" type="tns:aZaaS.KStar.Authentication.AuthProviderCollectionCT">
				<xs:annotation>
					<xs:documentation>The AuthProviders.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="defaultProvider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DefaultProvider.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="userExistsValidation" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The UserExistsValidation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="aZaaS.KStar.Authentication.AuthProviderCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="authProvider" type="tns:aZaaS.KStar.Authentication.AuthProviderElementCT">
				<xs:annotation>
					<xs:documentation>The AuthProviderElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="aZaaS.KStar.Authentication.AuthProviderElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="parameters" type="tns:aZaaS.KStar.Authentication.ParameterCollectionCT">
				<xs:annotation>
					<xs:documentation>The Parameters.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="assemblyType" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AssemblyType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="aZaaS.KStar.Authentication.ParameterElementCT">
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="aZaaS.KStar.Authentication.ParameterCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="parameter" type="tns:aZaaS.KStar.Authentication.ParameterElementCT">
				<xs:annotation>
					<xs:documentation>The ParameterElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
