aZaaS.KStar.Web/Service References/TenantManager/TenantManager2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.20:8999/TenantManager?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/aZaaS.Workflow.WcfService.Model" />
  <xs:element name="ActiveKstarAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenantCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveKstarAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActiveKstarAccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveAzaaSAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenantCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveAzaaSAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActiveAzaaSAccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyKstarAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenantCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyKstarAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DestroyKstarAccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyAzaaSAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenantCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyAzaaSAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DestroyAzaaSAccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TenantInfoQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenantCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TenantInfoQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/aZaaS.Workflow.WcfService.Model" minOccurs="0" name="TenantInfoQueryResult" nillable="true" type="q1:TenantEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TenantInfoAllQuery">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TenantInfoAllQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/aZaaS.Workflow.WcfService.Model" minOccurs="0" name="TenantInfoAllQueryResult" nillable="true" type="q2:ArrayOfTenantEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TenantInfoAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/aZaaS.Workflow.WcfService.Model" minOccurs="0" name="tenantEntity" nillable="true" type="q3:TenantEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TenantInfoAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TenantInfoAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TenantInfoModify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/aZaaS.Workflow.WcfService.Model" minOccurs="0" name="tenantEntity" nillable="true" type="q4:TenantEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TenantInfoModifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TenantInfoModifyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>