aZaaS.KStar.Web/Service References/TenantManager/TenantManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/aZaaS.Workflow.WcfService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/aZaaS.Workflow.WcfService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TenantEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BelongCompID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPosition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EnabledFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExpireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="TenantID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenantName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TenantEntity" nillable="true" type="tns:TenantEntity" />
  <xs:complexType name="ArrayOfTenantEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TenantEntity" nillable="true" type="tns:TenantEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTenantEntity" nillable="true" type="tns:ArrayOfTenantEntity" />
</xs:schema>