aZaaS.KStar.SSO/K2.Framework.SSO.Base/Service References/Passport/TokenService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TokenService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.2.113:82/TokenService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.2.113:82/TokenService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITokenService_HasLoginedByToken_InputMessage">
    <wsdl:part name="parameters" element="tns:HasLoginedByToken" />
  </wsdl:message>
  <wsdl:message name="ITokenService_HasLoginedByToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasLoginedByTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ITokenService_HasLoginedByUserAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:HasLoginedByUserAccount" />
  </wsdl:message>
  <wsdl:message name="ITokenService_HasLoginedByUserAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasLoginedByUserAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ITokenService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ITokenService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITokenService_LoginOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginOut" />
  </wsdl:message>
  <wsdl:message name="ITokenService_LoginOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginOutResponse" />
  </wsdl:message>
  <wsdl:message name="ITokenService_LoginOutByToken_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginOutByToken" />
  </wsdl:message>
  <wsdl:message name="ITokenService_LoginOutByToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginOutByTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="ITokenService">
    <wsdl:operation name="HasLoginedByToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokenService/HasLoginedByToken" message="tns:ITokenService_HasLoginedByToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITokenService/HasLoginedByTokenResponse" message="tns:ITokenService_HasLoginedByToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasLoginedByUserAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokenService/HasLoginedByUserAccount" message="tns:ITokenService_HasLoginedByUserAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITokenService/HasLoginedByUserAccountResponse" message="tns:ITokenService_HasLoginedByUserAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokenService/Login" message="tns:ITokenService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITokenService/LoginResponse" message="tns:ITokenService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginOut">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokenService/LoginOut" message="tns:ITokenService_LoginOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITokenService/LoginOutResponse" message="tns:ITokenService_LoginOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginOutByToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokenService/LoginOutByToken" message="tns:ITokenService_LoginOutByToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITokenService/LoginOutByTokenResponse" message="tns:ITokenService_LoginOutByToken_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITokenService" type="tns:ITokenService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HasLoginedByToken">
      <soap:operation soapAction="http://tempuri.org/ITokenService/HasLoginedByToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasLoginedByUserAccount">
      <soap:operation soapAction="http://tempuri.org/ITokenService/HasLoginedByUserAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ITokenService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginOut">
      <soap:operation soapAction="http://tempuri.org/ITokenService/LoginOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginOutByToken">
      <soap:operation soapAction="http://tempuri.org/ITokenService/LoginOutByToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TokenService">
    <wsdl:port name="BasicHttpBinding_ITokenService" binding="tns:BasicHttpBinding_ITokenService">
      <soap:address location="http://192.168.2.113:82/TokenService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>